@import "./breakpoints.scss";

.dropdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 4rem;
  @include breakpoint(mobile) {
    gap: 0;
    padding-bottom: 1rem;
  }
  @include breakpoint(tablet) {
    gap: 0;
    padding-bottom: 1rem;
  }
  .banner-div {
    width: 80%;
    height: 90%;
    @include breakpoint(mobile) {
      width: 100%;
      height: 10rem;
      margin-bottom: 2rem;
    }
    .banner {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: 100%;
      @include breakpoint(mobile) {
        padding: 0;
        margin: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        justify-content: center;
      }
    }
  }
  .dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 0;
    }
    .dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060;
      width: 80%;
      height: 4rem;
      border: none;
      border-radius: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      @include breakpoint(mobile) {
        width: 100%;
        height: 3rem;
      }
      .dropdown-title {
        color: white;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        @include breakpoint(mobile) {
          font-size: 1.3rem;
        }
      }
      .dropdown-arrow {
        transition: transform 0.3s ease-in-out;
      }
      .rotated {
        transform: rotate(-180deg);
      }
    }
    .dropdown-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition:
        opacity 0.5s,
        max-height 0.5s,
        visibility 0.5s;
      background-color: #f6f6f6;
      width: calc(80% - 2rem);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 1rem 1rem;
      font-size: 1.2rem;
      @include breakpoint(mobile) {
        width: calc(100% - 2rem);
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &.open {
        visibility: visible;
        opacity: 1;
        max-height: 500px;
      }
    }
  }
}

@keyframes slideOpen {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
