@import "./breakpoints.scss";

.gallery {
  box-sizing: border-box;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  width: calc(100% - 16rem);
  height: 100%;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 2rem;
  margin: 0rem 8rem 2rem 8rem;
  @include breakpoint(mobile) {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  @include breakpoint(tablet) {
    margin: 0;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .gallery-title-and-img {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    width: 460px;
    height: 460px;
    transition: transform 0.2s ease-out;
    @include breakpoint(mobile) {
      height: 300px;
      width: 98%;
    }
    @include breakpoint(tablet) {
      width: 600px;
      height: 600px;
    }
    &:hover {
      transform: scale(1.025);
      @include breakpoint(mobile) {
        &:hover {
          transform: none;
        }
        &:active {
          transform: scale(1.015);
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      z-index: 1;
      pointer-events: none;
    }
    .gallery-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 1rem;
      color: white;
      max-width: 40%;
      z-index: 2;
      @include breakpoint(tablet) {
        font-size: 1.8rem;
        max-width: 50%;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      @include breakpoint(mobile) {
        height: 300px;
      }
      .gallery-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include breakpoint(mobile) {
          height: 300px;
          width: 100%;
        }
      }
    }
  }
}
